.login,
.signup {
  width: 350px;
  height: 450px;
  margin: 200px auto auto auto;
  border: 1px solid black;
  border-radius: 8px;
  .input-form {
    input {
      width: 330px;
      font-size: 2rem;
    }
    .label {
      font-size: 2rem;
    }
  }
  button {
    width: 240px;
    height: 40px;
    color: white;
    background-color: $primary-blue;
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
  }
  h3 {
    font-size: 1.6rem;
  }
  a {
    text-decoration: none;
  }
  .switch-span {
    text-decoration: none;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
}
