.portfolio {
  width: 1000px;
  h1 {
    font-size: 3.6rem;
    margin: 40px 0px;
  }
  h2 {
    font-size: 2.8rem;
  }
  .stock {
    width: 50%;
    height: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3 {
      font-size: 2.6rem;
    }
  }
}
